/*
 * @section CONTRAST SETTINGS
 *
*/


/** CONTRASTES INVERSES **/

:root{
	--inv-back:#000080;
	--inv-font:#FFFF00;	
	--inv-back2:#00004c;
}


/** contrastes inversés **/
.inv-c,
.inv-c *{
	background-color:var(--inv-back)!important;
	color:var(--inv-font)!important;
}

.inv-c .slide .col-1-2:not(.chapter){
	background:transparent!important;
}

.inv-c .slide a:hover,
.inv-c .slide a:focus,
.inv-c .slide button:hover,
.inv-c .slide button:focus{
	background-color:var(--inv-back2)!important;
}

.inv-c .tool-block a:hover,
.inv-c .tool-block a:focus{
	background-color:var(--inv-back2)!important;
}
	.inv-c .tool-bar:hover,
	.inv-c .navbar-visible{
		border-top-color:1px solid var(--inv-font);
	}

	.inv-c pre,
	.inv-c code,
	.inv-c kbd,
	.inv-c #wrappernav .btn,
	.inv-c #wrappernav select{
		border:1px solid var(--inv-font);
	}

	.inv-c pre code{
		border:none;
	}
	.inv-c .breadcrumb,
	.inv-c .breadcrumb *{
		background:none!important;
	}
	.inv-c .breadcrumb li a{
		background:var(--inv-back2)!important;
	}
	
	.inv-c .breadcrumb li:after{
		background:var(--inv-back)!important;;
	}



