body.dys-f *{
	font-family:'opendys'!important;
}

.texte-justifie{
	text-align:justify;
}

body.dys-j .slide *,
body.dys-j .owner-info *,
body.dys-j .help-info *{
	text-align:left!important;
}

/**interlignage**/
body.dys-l .slide *,
body.dys-l .owner-info *,
body.dys-l .help-info *{
	line-height:200%!important;
}

