.ariaPressed {
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
  padding: .3rem .75rem;
  margin-bottom: .5rem;
}
.ariaPressed[aria-pressed="true"] {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-font-color-base-inverse);
}
