.ariaPressed {
  background-color: var(--ifm-background-color);
  color: var(--ifm-font-color-base);
  padding: .3rem .75rem;
  margin-bottom: .5rem;
}
.ariaPressed[aria-pressed="true"] {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-font-color-base-inverse);
}

.infiniteList {
  padding: 1rem 2rem;
  border: 3px var(--ifm-menu-color) double;
}
.infiniteList li {
  list-style-type: none;
}
.infiniteList li:focus {
  border: 3px solid var(--ifm-color-warning);
}