.bookmarkletTagsWrapper {
  display: inline-block;
  margin-bottom: 1rem;
}

.bookmarkletTagsWrapper ul, .bookmarkletTagsWrapper ul li {
  list-style-type: none;
}

.bookmarkletTagsWrapper ul {
  margin: 0 0 0 .5rem;
  padding: 0;
  display: inline;
}

.bookmarkletTag {
  background-color: var(--ifm-color-primary-lighter);
  color: var(--ifm-font-color-base-inverse);
  font-weight: bold;
  display: inline-block;
  padding: .1rem .4rem .2rem .4rem;
  margin: 0 .1rem;
}