.wrapper {
  text-align: center;
}

.wrapper img {
  box-shadow: 2px 2px 4px var(--ifm-color-gray-1000);
}

.figure {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 8%;
}

.figure:not(:first-child) {
  margin-top : 3rem;
}

.figure figcaption {
  text-align: center;
  color: var(--ifm-color-emphasis-600)
}

.figure figcaption code {
  text-align: left;
}

.compliance, .nonCompliance {
  margin: 0;
}

.compliance, .nonCompliance, .special {
  font-size: 1.2rem;
  font-weight: bold;
}

[data-theme="dark"] .compliance {
  color: var(--ifm-color-success-lightest);
}
.compliance {
  color: var(--ifm-color-success);
}

[data-theme="dark"] .nonCompliance {
  color: var(--ifm-color-danger-lightest);
}
.nonCompliance {
  color: var(--ifm-color-danger-darker);
}