
    figure pre {
      text-align: left;
    }

code.code{display:block;}

.a42-bgcolor-code, code.code.hljs{background-color:#343643!important;}

.a42-text-great code.code{font-size:0.95em;}

.det-critere, .slide .det-critere{font-size:90%;}

/** pour le motif disclosure en démo**/

.a42-toggle-content.is-closed{display: none}

/** pour le motif slider en démo**/

.a42-slider{
  padding:2em 2em 1em 2em;
}

.a42-slider:after{
  content:'';
  display:block;
  clear:both;
}

  .sliderRail {
    width: 70%;
    height: 16px;
    border: 1px solid #999999;
    position: relative;
    margin: 0px 3px 0px 3px;
  }
  .sliderThumb:focus{
    border: 1px solid #000;
    background-color: #00CCCC;
  }
  
  .sliderThumb {
    margin: 0px;
    padding: 0px;
    width: 16px; 
    height: 16px;
    background: #EEEEEE;
    border: 1px solid #999999;
    position: absolute;
  }
  
  .floatLeft {
    float:left;
  }

  /**pour le motif tabpanel en démo**/

  .tabs {

  font-family: "lucida grande", sans-serif;
}

[role="tablist"] {
  margin: 0 0 -0.1em;
  overflow: visible;
}

[role="tab"] {
  position: relative;
  margin: 0;
  padding: 0.3em 0.5em 0.4em;
  border: 1px solid hsl(219, 1%, 72%);
  border-radius: 0.2em 0.2em 0 0;
  box-shadow: 0 0 0.2em hsl(219, 1%, 72%);
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  background: hsl(220, 20%, 94%);
}

[role="tab"]:hover::before,
[role="tab"]:focus::before,
[role="tab"][aria-selected="true"]::before {
  position: absolute;
  bottom: 100%;
  right: -1px;
  left: -1px;
  border-radius: 0.2em 0.2em 0 0;
  border-top: 3px solid hsl(20, 96%, 48%);
  content: '';
}

[role="tab"][aria-selected="true"] {
  border-radius: 0;
  background: hsl(220, 43%, 99%);
  outline: 0;
}

[role="tab"][aria-selected="true"]:not(:focus):not(:hover)::before {
  border-top: 5px solid hsl(218, 96%, 48%);
}

[role="tab"][aria-selected="true"]::after {
  position: absolute;
  z-index: 3;
  bottom: -1px;
  right: 0;
  left: 0;
  height: 0.3em;
  background: hsl(220, 43%, 99%);
  box-shadow: none;
  content: '';
}

[role="tab"]:hover,
[role="tab"]:focus,
[role="tab"]:active {
  outline: 0;
  border-radius: 0;
  color: inherit;
}

[role="tab"]:hover::before,
[role="tab"]:focus::before {
  border-color: hsl(20, 96%, 48%);
}

[role="tabpanel"] {
  position: relative;
  z-index: 2;
  padding: 0.5em 0.5em 0.7em;
  border: 1px solid hsl(219, 1%, 72%);
  border-radius: 0 0.2em 0.2em 0.2em;
  box-shadow: 0 0 0.2em hsl(219, 1%, 72%);
  background: hsl(220, 43%, 99%);
}

[role="tabpanel"]:focus {
  border-color: hsl(20, 96%, 48%);
  box-shadow: 0 0 0.2em hsl(20, 96%, 48%);
  outline: 0;
}

[role="tabpanel"]:focus::after {
  position: absolute;
  bottom: 0;
  right: -1px;
  left: -1px;
  border-bottom: 3px solid hsl(20, 96%, 48%);
  border-radius: 0 0 0.2em 0.2em;
  content: '';
}

[role="tabpanel"] p {
  margin: 0;
}

[role="tabpanel"] * + p {
  margin-top: 1em;
}


/**pour démo outline**/

.demo-outline *:focus{outline: 4px solid orange}

.slide button:hover{color:#343643 }


/** inline listes pour les ressources **/

.ressources h4,.ressources ul{display:inline}
.list-inline li {display:inline;list-style:none}

.a42-edito ul.list-inline li:before{display:none;margin:0}
.a42-edito ul.list-inline li{margin:0}
.a42-edito ul.list-inline li:not(:last-child)::after{content:" - "}

.gitlab-embed-snippets .file-title-flex-parent, .line-numbers {
  display: none !important;
  margin: 0 !important;
}

.gitlab-embed-snippets {
  margin: 0 !important;
}

.blob-content pre {
  border: transparent !important;
}


.code.highlight {
  padding: 0 !important;
  max-width: 100% !important;
  margin-top: 0 !important;
  white-space: pre-wrap !important;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap !important;
  white-space: -o-pre-wrap !important;
  word-wrap: break-word !important;
}
