.disclosureContainer {
  display: inline-block;
  width: 100%;
  background-color: var(--ifm-menu-color-background-active);
  padding: 0 1rem;
}

.disclosureContainer summary {
  position: relative;
  padding: .3rem 0;
  cursor: pointer;
}

.disclosureContainer[open] summary {
  margin-bottom: .5rem;
}

.disclosureContainer[open] summary:before {
  content: "";
  position: absolute;
  width: 95%;
  height: 2px;
  bottom: 0;
  background: var(--ifm-menu-color);
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--ifm-menu-color) 10%, var(--ifm-menu-color) 90%, rgba(0,0,0,0) 100%);
}
