.criteriaTag {
  background-color: var(--ifm-color-primary-lighter);
  color: var(--ifm-font-color-base-inverse);
  font-weight: bold;
  display: inline-block;
  padding: .1rem .4rem .2rem .4rem;
  margin: 0 .1rem;
}
