/**
 * -------------------------
 * @section COLORS
 * -------------------------
 */
:root{
	--c0:#fff;								/* c0 : blanc */
	--c1:#0B1B34;							/* c1 : bleu outremer */
	--c2:#343643;							/* c2 : gris anthracite */
	--c3:#A0B0BD;							/* c3 : bleu moyen */
	--c4:#CEDAE6;							/* c4 : bleu ciel*/
	--c5:#962E3F; 							/* c5 : rouge cramoisi */
	--c6:#F2EBC7;							/* c6 : sable */
	--c7:#f9fcff; 							/* c7 : blanc cassé */
	--c8:#7d829a; 							/* c8 : bleu orage */
	--c9:#31486e; 							/* c9 : bleu argentin */

	--c2a:#272831;							/* c2 complémentaire */
	--c4a:#e3ebf2; 							/* c4 à 50 % d’opacité */

	/* More colors */
	--hljs: color(var(--c8) shade(70%)); 	/* custom background-color for .hljs elements */


	/* Legacy vars */
	--font: var(--c1);
	--font-alt: var(--c0);
	
	--grey:#D0D0CF;/**gris fond**/
	--grey-2:#E6E6E6;
	--grey-3:#878786;

	--toolbar:var(--c4a);
	--shadow:#bbb;


	/** Couleurs inversées jaune/bleues **/
	--inv-font:#FF0; /* yellow */
	--inv-bg: #000080; /* dark blue*/
	--inv-back2:#00004c;

	/** Contrastes renforcés **/
	--high-back:#FFF;
	--high-font:#000;

	--h-c0: var(--c0);
	--h-c3: var(--c2);
	--h-c5: var(--c5);
}