/**
 * -------------------------
 * @section 0. PARAMS
 * -------------------------
 */
:root{

	/* Violets */
	--mauve: #7d829a;
	

	/* Jaunes, oranges */
	--jaune: #F2EBC7;

	/* Rouge */
	--cramoisi: #962E3F;

	/* Verts */

	/* Bleus */
	--marine: #0B1B34;
	--orage: #31486e;
	--bleumoyen: #A0B0BD;
	--bleuciel: #CEDAE6;
	
	/* Gris foncé */
	--anthracite: #343643;

	/* Intemporels */
	--blanc: #fff;
	--noir: #000;

	/* Correspondances couleurs */
	--font:var(--anthracite);

	/* Contrastes inversés */
	--invc-back: #000080;
	--invc-front: #FF0;
}


/** contrastes inversés **/

body.inv-c,
body.inv-c *{
	background: var(--invc-back);
	color: var(--invc-front);
	border-color: var(--invc-front);
}

/** contrastes renforcés (AAA) **/

body.high-c .a42-title-site b {
	color: var(--marine);
}

body.high-c div.a42-section h2::before{
	display: none;
}

body.high-c .a42-heart,
body.high-c .a42-couv_event{
	color: var(--marine);
}

body.high-c .a42-main-header,
body.high-c .a42-main-footer{
	background-color: var(--blanc);
}

/** police **/

@font-face {
	font-family: 'opendys';
	src: url('fonts/opendyslexic-regular-webfont.eot');
	src: url('fonts/opendyslexic-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/opendyslexic-regular-webfont.woff2') format('woff2'),
			 url('fonts/opendyslexic-regular-webfont.woff') format('woff'),
			 url('fonts/opendyslexic-regular-webfont.ttf') format('truetype'),
			 url('fonts/opendyslexic-regular-webfont.svg#opendyslexicregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body.dys-f *{
	font-family:'opendys'!important;
}

/** interlignage **/

body.dys-line-spacing *{
	line-height:1.5em!important;
}