:root{

	/* Violets */
	--mauve: #7d829a;
	

	/* Jaunes, oranges */
	--jaune: #F2EBC7;

	/* Rouge */
	--cramoisi: #962E3F;

	/* Verts */

	/* Bleus */
	--marine: #0B1B34;
	--orage: #31486e;
	--bleumoyen: #A0B0BD;
	--bleuciel: #CEDAE6;
	
	/* Gris foncé */
	--anthracite: #343643;

	/* Intemporels */
	--blanc: #fff;
	--noir: #000;

	/* Correspondances couleurs */
	--font:var(--anthracite);
}
.access-tooltip{
	position:absolute;
	color: 1px solid var(--marine);
	background-color: var(--marine);
	padding:.3em;
	color: var(--blanc);
	font-size:80%;
}